body{
font-family: Arial,sans-serif;
background-color: #385366;
padding: 0;
margin: 0;
}

h1{font-family: 'Montserrat', sans-serif; margin: 0; padding: 0;}
h2{font-family: 'Montserrat', sans-serif;}
h3{font-family: 'Montserrat', sans-serif;}
h4{font-family: 'Montserrat', sans-serif;}
p{line-height: 180%; font-size: 0.9em;}

a{
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-ms-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
text-decoration: none;
color: #000;
}

header{
background-color: #FFF;
padding: 15px 20px 15px 20px;
color: #000;
border-bottom: 1px solid rgba(0,0,0,0.15);
position: fixed;
z-index: 9999;
width: 100%;
top: 0;
left: 0;
}

#contentwrap{
margin: 0 auto;
margin-top: 49px;
position: relative;
height: 100%;
min-height: 1000px;
}

#sidebar{
float: left;
width: 250px;
background-color: #fff;
min-height: 100%;
border-right: 1px solid #e1e8ed;
top: 0;
bottom: 0;
left: 0;
position: fixed;
}

#entry{
padding: 40px;
float: right;
}

#tweets{
background-color: #fff;
padding: 40px;
margin: 0 auto;
width: 50%;
border: 1px solid #e1e8ed;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.menu-title{
border-bottom: 1px solid #e1e8ed;
padding: 15px 20px 15px 20px;
font-size: 0.8em;
font-weight: bold;
}

#menu ul {
margin: 0; 
padding: 0;
list-style-type: none;
}

#menu ul li a {
border-bottom: 1px solid #e1e8ed;
padding: 15px 20px 15px 20px;
text-decoration: none;
color: #000;
display: block;
font-size: 0.8em;
}
 
#menu ul li a:visited {
color: #000;
}
 
#menu ul li a:hover, #menu ul li .current {
color: #000;
background-color: #eee;
padding-left: 30px;
}

footer ul{
margin: 0;
padding: 0;
}

footer ul li{
display: inline;
}

footer ul li a{
color: #fff;
margin-right: 15px;
margin-left: 15px;
}

footer{
position: absolute;
bottom:0;
left: 0;
right: 0;
text-shadow: 0 1px 0 #000000;
background-color: rgba(0, 0, 0, 0.1);
padding: 20px 20px 20px 20px;
color: #fff;
font-size: 0.7em;
height: 10px;
}

.copy{
float: left;
}

.top{
float: right;
color: #fff;
}

.top a{
color: #fff;
}

