[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "XXXXXXXXXXXXXXXXXXXXXXXXX"},
	    {api_secret, "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"},
	    {access_token, "9999999999-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"},
	    {access_token_secret, "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"}]}]},
  {riak_nodes, [
    {riak1, [
	    {host, "127.0.0.1"},
	    {port, 10017}]}]}]}].
