.box{
margin-right: 15px;
padding: 5px;
height: 19px;
width: 19px;
line-height: 19px;
background-position: center center;
-webkit-background-size: cover; /* For WebKit*/
-moz-background-size: cover;    /* Mozilla*/
-o-background-size: cover;      /* Opera*/
background-size: cover;         /* Generic*/
display: block;
float: left;
}

.boxfp{
margin-right: 15px;
padding: 5px;
height: 22px;
width: 45px;
line-height: 22px;
background-position: center center;
-webkit-background-size: cover; /* For WebKit*/
-moz-background-size: cover;    /* Mozilla*/
-o-background-size: cover;      /* Opera*/
background-size: cover;         /* Generic*/
display: block;
float: left;
}


.boxm{
margin-right: 15px;
padding: 5px;
height: 22px;
width: 35px;
line-height: 19px;
background-position: center center;
-webkit-background-size: cover; /* For WebKit*/
-moz-background-size: cover;    /* Mozilla*/
-o-background-size: cover;      /* Opera*/
background-size: cover;         /* Generic*/
display: block;
float: left;
}

#partisymbol{
margin-right: 30px;
float: left;
background-position: center center;
-webkit-background-size: cover; /* For WebKit*/
-moz-background-size: cover;    /* Mozilla*/
-o-background-size: cover;      /* Opera*/
background-size: cover;         /* Generic*/
}

.s{background-image:url("../img/socialdemokraterna.PNG");}
.p1{border-top: 4px solid #eb1b34;}

.m{background-image:url("../img/moderaterna.PNG");}
.p2{border-top: 4px solid #66beec;}

.sd{background-image:url("../img/sverigedemokraterna.PNG");}
.p3{border-top: 4px solid #ffce00;}

.mp{background-image:url("../img/miljopartiet.PNG");}
.p4{border-top: 4px solid #00ad4c;}

.c{background-image:url("../img/centerpartiet.PNG");}
.p5{border-top: 4px solid #028d44;}

.v{background-image:url("../img/vansterpartiet.PNG");}
.p6{border-top: 4px solid #e30613;}

.fp{background-image:url("../img/folkpartiet.PNG");}
.p7{border-top: 4px solid #369ad5;}

.kd{background-image:url("../img/kristdemokraterna.png");}
.p8{border-top: 4px solid #004d9f;}

#parti-info{
display:none;
width: 100%;
border-bottom: 1px solid #ddd;
background-color: #f5f5f5;
}

.parti-info-content{
padding: 40px;
}

.info-knapp{
float: right;
border: 1px solid #ddd;
background-color: #eee;
padding: 15px 20px 15px 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top: 10px;
font-family: 'Open Sans', sans-serif;
width: 145px;
display: block;
text-align: center;
}

input{
border:0;
outline:none;
cursor: pointer;
}

ul.col-3 {
column-count: 3;
column-gap: 20px;
}

.col-3 {
-webkit-column-count: 3;
-webkit-column-gap: 20px;
-moz-column-count: 3;
-moz-column-gap: 20px;
font-size:14px;
}

.col-3-div {
-webkit-column-count: 3;
-webkit-column-gap: 20px;
-moz-column-count: 3;
-moz-column-gap: 20px;
font-size:14px;
}