@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
* {margin: 0;}

body{
background-color: #fff;
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
height: 100%;
font-size: 13px;
background-image: url("../img/bg.png");
background-position: top left;
background-repeat: repeat-y;
-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
-webkit-text-size-adjust: none;
}

h1,h2,h3,h4,h5{
font-family: 'Open Sans', sans-serif;
}

.menu-title {
margin-top: -1px;
border-top: 1px solid rgba(0,0,0,0.15);
border-bottom: 1px solid rgba(0,0,0,0.15);
padding: 20px 30px 20px 30px;
font-size: 13px;
color: #fff;
background-color: #27292a;
line-height: 25px;
}

h1{
font-size: 42px;
line-height: 165%;
color: #000;
font-weight: 300;
}

h2{font-size: 24px;
line-height: 165%;
color: #000;
font-weight: 300;
margin-bottom: 10px;
}

h3{}
h4{}

p{line-height: 220%; font-size: 14px; padding-bottom: 20px; opacity: 0.8;}

#logo{
background-color: #27292a;
padding-left: 30px;
padding-right: 20px;
padding-top: 18px;
padding-bottom: 15px;
height: 40px;
border-top: 4px solid #000;
border-bottom: 1px solid rgba(0,0,0,0.15);
}

.logo{
color: #fff;
font-size: 13px;
text-transform: uppercase;
letter-spacing: 4px;
padding: 8px 15px 8px 15px;
border: 1px solid #949494;
background-color: #333;
float: left;
text-align: center;
width: 150px;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;

}

.logo:hover{
border: 1px solid #666;
color: #666;
}

strong{
font-weight: 600;
color: #000;
}

a{
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
text-decoration: none;
}

::-moz-selection {
color: #fff;
background-color: #000;
}

::selection {
color: #fff;
background-color: #000;
}

header{
background-color: #27292a;
color: #fff;
width: 100%;
border-bottom: 1px solid rgba(0,0,0,0.15);
top: 0;
left: 0;
height: 73px;
}

header a{
color: #fff;
}

.header-content{
padding-left: 30px;
padding-right: 30px;
padding-top: 18px;
padding-bottom: 15px;
}

.header-content ul{
list-style-type: none;
float: right;
}

.header-content ul li{
display: inline;
}

.header-content ul li a{
color: #fff;
font-size: 13px;
padding: 8px 15px 8px 15px;
border: 1px solid #949494;
background-color: #333;
float: left;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

.sep{
height: 1px;
background-color: rgba(255, 255, 255, 0.05);
}

#menu ul {
margin: 0; 
padding: 0;
list-style-type: none;
}

#menu ul li a {
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
color: #fff;
font-size: 13px;
padding-left: 30px;
padding-right: 30px;
height: 20px;
display: block;
padding-top: 20px;
padding-bottom: 20px;
}
 
#menu ul li a:hover{
color: #fff;
padding-left: 40px;
}

#wrap{
min-height: 100%;
}

#sidebar{
float: left;
top: 0;
left: 0;
bottom: 0;  /*  this line, and the one above, confer full-height */
width: 251px;
background-color: #2c2e2f; /* adjust to taste, just to see where the element was rendered */
}

#sidebar-bottom{
position: absolute;
width: 300px;
left: 0;
bottom: 0;
color: #fff;
border-top: 1px solid #384D5C;
margin-bottom: -100px;
}

#content-content{
padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: 40px;
}

#content-content ul{
list-style-type: none;
margin: 0;
padding: 0;
}

#content-content ul li{
padding-bottom: 20px;
font-size: 13px;
opacity: 0.9;
}

hr{
border:0;
height: 1px;
background-color: #ddd;
margin-top: 25px;
margin-bottom: 25px;
}

#content-top{
height: 150px;
background-color: #eee;
border-bottom: 1px solid #E0E0E0;
}

.ctop-c{
padding: 40px;
}

.ctop-c h1{
float: left;
}

#content{
margin-left: 251px;
min-height: 700px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

footer ul{
margin: 0;
padding: 0;
}

footer ul li{
display: inline;
}

footer ul li a{
margin-right: 20px;
color: #55acee;
}

footer ul li a:hover{
color: #fff;
}

footer{
border-top: 1px solid rgba(0,0,0,0.15);
text-shadow: 0 1px 0 #222;
background-color: #020202;
padding: 20px 20px 20px 20px;
color: #fff;
font-size: 11px;
height: 15px;
bottom: 0;
left: 0;
clear: both ;
}

.copy{
float: left;
}

.copy-box{
border: 1px solid #333;
padding: 5px 10px 5px 10px;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
margin-right: 20px;
color: #fff;
}

.top{
float: right;
color: #fff;
}

.top a{
color: #fff;
display: inline;
border: 1px solid #333;
padding: 5px 10px 5px 10px;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

.top a:hover{
border: 1px solid #fff;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}