@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
* {margin: 0;}

body{
background-color: #fefefe;
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
height: 100%;
background-image: url("img/bg.png");
background-position: top left;
background-repeat: repeat-y;
}

h1,h2,h3,h4,h5{
font-family: 'Open Sans', sans-serif;
}

h1{
font-size: 2.2em;
line-height: 165%;
color: #000;
font-weight: 300;
margin-bottom: 20px;
padding-bottom: 15px;
border-bottom: 1px solid #ddd;
}
h2{}
h3{}
h4{}
p{line-height: 180%; font-size: 0.8em; padding-bottom: 20px; opacity: 0.8;}

.beta{color: #000; font-size: 0.75em;}

a{
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
text-decoration: none;
}

::-moz-selection {
color: #fff;
background-color: #000;
}

::selection {
color: #fff;
background-color: #000;
}

header a{
color: #fff;
}

header{
background: #55acee;
color: #fff;
width: 100%;
font-size: 1em;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
border-bottom: 1px solid rgba(0,0,0,0.15);
position: fixed;
z-index: 999;
top: 0;
left: 0;
height: 56px;
}

.header-content{
padding-left: 20px;
padding-right: 20px;
padding-top: 17px;
padding-bottom: 15px;
}

.menu-title{
border-bottom: 1px solid rgba(55, 147, 213, 0.21);
padding: 15px 20px 15px 20px;
font-size: 0.8em;
color: #fff;
}

.sidebar-copy{
padding: 20px;
font-size: 0.8em;
font-weight: bold;
width: 100%;
}

.sidebar-content{
padding: 20px;
border-bottom: 1px solid rgba(55, 147, 213, 0.21);
}

#menu ul {
margin: 0; 
padding: 0;
list-style-type: none;
}

#menu ul li a {
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
border-bottom: 1px solid rgba(55, 147, 213, 0.21);
padding: 15px 20px 15px 20px;
color: #617387;
display: block;
font-size: 0.8em;
}
 
#menu ul li a:visited {
color: #617387;
}
 
#menu ul li a:hover, #menu ul li .current {
color: #fff;
background-color: #4a95ce;
padding-left: 30px;
}

#wrap{
position: relative;
min-height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

#sidebar{
padding-top: 56px;
position: absolute;
top: 0;
left: 0;
bottom: 0;  /*  this line, and the one above, confer full-height */
width: 300px;
background-color: #021c35; /* adjust to taste, just to see where the element was rendered */
}

#sidebar-bottom{
position: absolute;
width: 300px;
left: 0;
bottom: 0;
color: #fff;
border-top: 1px solid #384D5C;
margin-bottom: -100px;
}

.sidebar-bottom-content{
padding: 20px;
}

.content-content{
padding: 40px;
}

hr{
border:0;
height: 1px;
background-color: #ddd;
margin-top: 40px;
margin-bottom: 40px;
}

#content{
padding-top: 96px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
margin-left: 340px;
max-width: 50%;
}

footer ul{
margin: 0;
padding: 0;
}

footer ul li{
display: inline;
}

footer ul li a{
color: #55acee;
margin-right: 15px;
margin-left: 15px;
}

footer ul li a:hover{
color: #fff;
}

footer{
border-top: 1px solid rgba(0,0,0,0.15);
text-shadow: 0 1px 0 #222;
background-color: #020202;
padding: 20px 20px 20px 20px;
color: #fff;
font-size: 0.7em;
height: 15px;
bottom: 0;
left: 0;
margin-top: 100px;
}

.copy{
float: left;
}

.top{
float: right;
color: #fff;
}

.top a{
color: #fff;
}

.input-search{
padding: 10px 10px 10px 10px;
width: 255px;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
border: 1px solid #384D5C;
background-color: #1b2a3d;
color: #fff;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

.input-search:focus{
background-color: #121B27;
outline: 0;
}

.input-search:hover{
}